In [84]:
import pandas as pd
import numpy as np
from src.helpers import SAMOTHRACE_SHEET_NAMES

df = pd.read_excel('./data/samothrace/samothrace.xlsx', sheet_name=SAMOTHRACE_SHEET_NAMES)
df['Rotunda']

,Number,Block Type,Aylward notes,Day Recorded,Lewis Type,Slant,Hole Depth,Hole Length at Base,Hole Width,Contact Surface (cm^2),Angle of Slant,Block Material,Block Width,Block Depth,Block Height,"Volume, Block",Published/Measured,Notes on Volume/Shape
0,C-21,epistyle,NaN,2005 (Thursday),Wedge,Single,0.125,0.167,0.031,37.370,15.500,marble (Thasian),1.3375,>0.9875,0.646,0.853225,NaN,"use C-18 Volume 7, Plate XLII"
1,C-10,epistyle,NaN,2005 (Thursday),Wedge,Single,0.130,0.170,0.031,38.914,12.500,marble (Thasian),NaN,NaN,NaN,0.853225,NaN,"use C-18 Volume 7, Plate XLII"
2,G-27,pier (with engaged Corinthian capital),NaN,2005 (Thursday),Wedge,Single,0.130,0.172,0.031,38.959,11.500,marble (Thasian),0.424,0.875,2.262,0.839202,NaN,"use G-30 Volume 7, Plate XXXV; get rectangular..."
3,G-28,pier (with engaged Corinthian capital),NaN,2005 (Thursday),Wedge,Single,0.145,0.172,0.031,35.844,13.000,marble (Thasian),NaN,NaN,NaN,0.839202,NaN,"use G-30 Volume 7, Plate XXXV; get rectangular..."
4,G-55,pier (with engaged Corinthian capital),NaN,2005 (Thursday),Wedge,Single,0.130,0.187,0.031,34.481,19.500,marble (Thasian),NaN,NaN,NaN,0.839202,NaN,"use G-30 Volume 7, Plate XXXV; get rectangular..."
5,W-16,sima,NaN,2005 (Thursday),Wedge,Single,0.150,0.187,0.031,44.982,13.000,marble (Thasian),see note in book,NaN,NaN,0.414127,NaN,"use W-7 Volume 7, Plate LV"
6,W-1,sima,NaN,2005 (Thursday),Wedge,Single,0.150,0.188,0.033,46.318,15.000,marble (Thasian),NaN,NaN,NaN,0.414127,NaN,"use W-7 Volume 7, Plate LV"
7,W-21,sima,NaN,2005 (Thursday),Wedge,Single,0.149,0.197,0.033,22.785,13.000,marble (Thasian),NaN,NaN,NaN,0.414127,NaN,"use W-7 Volume 7, Plate LV"
8,W-19,sima,NaN,2005 (Thursday),Wedge,Single,0.150,0.195,0.032,44.823,13.000,marble (Thasian),NaN,NaN,NaN,0.414127,NaN,"use W-7 Volume 7, Plate LV"
9,W-?,sima,on rotunda wall,2005 (Thursday),Wedge,Single,0.150,0.192,0.032,44.882,12.000,marble (Thasian),NaN,NaN,NaN,0.414127,NaN,"use W-7 Volume 7, Plate LV"
10,C-?,epistyle (inscribed),NaN,2005 (Thursday),Wedge,Single,0.140,0.175,0.037,44.554,11.000,marble (Thasian),NaN,NaN,NaN,0.853225,NaN,"use C-18 Volume 7, Plate XLII"
11,W-?,sima,by Hall E,2005 (Thursday),Wedge,Single,0.080,0.095,0.014,10.958,9.000,marble (Thasian),NaN,NaN,NaN,0.414127,NaN,"use W-7 Volume 7, Plate LV"
12,W-?,sima,"partially burned, near rotunda",2005 (Thursday),Wedge,Single,0.080,0.083,0.012,8.436,18.000,marble (Thasian),NaN,NaN,NaN,0.414127,NaN,"use W-7 Volume 7, Plate LV"
13,Z-28,epikranitis,NaN,2005 (Thursday),Wedge,Single,0.100,0.124,0.018,16.264,16.264,marble (Thasian),NaN,NaN,NaN,0.540090,NaN,"use Z-13 Volume 7, Plate XXVI, averaged two wi..."
14,U-29,wall block,NaN,2005 (Thursday),Wedge,Double,0.080,0.133,0.018,14.619,15.000,marble (Thasian),1.377,0.45,0.756,0.468455,NaN,"use U-25 Volume 7, Plate XVIII"
15,U-27,wall block,NaN,2005 (Thursday),Wedge,Single,0.078,0.134,0.018,14.179,9.000,marble (Thasian),NaN,NaN,NaN,0.468455,NaN,"use U-25 Volume 7, Plate XVIII"
16,U-2,wall block,traces of metal at base,2005 (Thursday),Wedge,Single?,0.071,0.130,0.019,12.916,13.000,marble (Thasian),NaN,NaN,NaN,0.468455,NaN,"use U-25 Volume 7, Plate XVIII"
17,U-7,wall block,NaN,2005 (Thursday),Wedge,Single,0.065,0.140,0.018,10.004,16.000,marble (Thasian),NaN,NaN,NaN,0.468455,NaN,"use U-25 Volume 7, Plate XVIII"
18,M-42,parapet,NaN,2005 (Thursday),Wedge,Single,0.050,0.151,0.027,13.533,13.500,marble (Thasian),1.2685,1.03,0.517,0.675489,NaN,"use M-40 Volume 7, Plate XXXII; average two wi..."
19,M-47,parapet,NaN,2005 (Thursday),Wedge,Single,0.096,0.163,0.026,24.452,18.000,marble (Thasian),NaN,NaN,NaN,0.675489,NaN,"use M-40 Volume 7, Plate XXXII; average two wi..."
20,Z-3,epikranitis,NaN,2005 (Thursday),Wedge,Single,0.094,0.151,0.026,23.492,10.500,marble (Thasian),1.3625,1.092,0.363,0.540090,NaN,"use Z-13 Volume 7, Plate XXVI, averaged two wi..."
21,Z-11,epikranitis,NaN,2005 (Thursday),Wedge,Single,0.079,0.146,0.025,20.010,5.000,marble (Thasian),NaN,NaN,NaN,0.540090,NaN,"use Z-13 Volume 7, Plate XXVI, averaged two wi..."
22,Z-25,epikranitis,NaN,2005 (Thursday),Wedge,Single,0.085,0.158,0.031,24.909,11.000,marble (Thasian),NaN,NaN,NaN,0.540090,NaN,"use Z-13 Volume 7, Plate XXVI, averaged two wi..."
23,W-45,sima,NaN,2005 (Thursday),Wedge,Single,0.055,0.156,0.029,14.587,11.000,marble (Thasian),NaN,NaN,NaN,0.414127,NaN,"use W-7 Volume 7, Plate LV"

In [86]:

for sheet_name in SAMOTHRACE_SHEET_NAMES:
    df[sheet_name]['length quartiles'] = pandas.qcut(df[sheet_name]['Hole Length at Base'], 4, ['q1', 'q2', 'q3', 'q4'])
    df[sheet_name][['length quartiles', 'Hole Length at Base']]

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [71]:
df['Rotunda'][['length quartiles', 'Hole Length at Base']].dropna().sort_values(by="length quartiles").plot.box()

KeyError: "['length quartiles'] not in index"