In [12]:
import pandas as pd
import numpy as np
from src.helpers import SAMOTHRACE_SHEET_NAMES

df = pd.read_excel('./data/samothrace/samothrace.xlsx', sheet_name=SAMOTHRACE_SHEET_NAMES)
df['Altar Court']

,Number,Block Type,Aylward #,Aylward Notes,Day Recorded,Lewis Type,Slant,Hole Depth,Hole Length at Base,Hole Width,...,Angle of Slant,Block Material,Block Width,Block Depth,Block Height,"Volume, Block",Published/Measured,Notes on Volume/Shape,More notes,Mass of Block
0,534.0,column drum,A,NaN,2005 (Friday),Wedge,Single,0.162,0.132,0.015,...,NaN,marble (Thasian),0.7810,NaN,1.020,0.488643,"Samothrace Volume 11, Plate XI",534.0,"averaged width, cylinder calculation",NaN
1,592.0,column drum,B,NaN,2005 (Friday),Wedge,Single,0.152,0.159,0.017,...,NaN,marble (Thasian),0.8060,NaN,1.075,0.548490,"Samothrace Volume 11, Plate XI",592.0,"averaged width, cylinder calculation",NaN
2,L41? mentioned in book,epistyle,NaN,published,2005 (Saturday),Wedge,Single,0.145,0.162,0.025,...,18.5,marble (Thasian),2.2230,0.467,0.347,0.360235,"Samothrace Volume 11, Plate XIX",use L-41?,NaN,NaN
3,NaN,epistyle,NaN,lead fragment found inside,2005 (Saturday),Wedge,Single,0.125,0.160,0.026,...,16.0,marble (Thasian),2.1239,0.465,0.648,0.639974,"Samothrace Volume 11, Plate XVIII",use 139?,width doubled b/c of lewis placement,NaN
4,L36,"frieze (Doric, one triglyph, two metopes)",NaN,very worn,2005 (Saturday),Wedge,Single,0.115,0.172,0.023,...,10.0,marble (Thasian),1.9000,NaN,0.700,NaN,"Samothrace Volume 11, Plate XXVIII",L36,width from scale,NaN
5,NaN,"frieze (Doric, one triglyph, two metopes)",NaN,very worn,2005 (Saturday),NaN,NaN,0.060,0.180,NaN,...,NaN,marble (Thasian),NaN,NaN,NaN,NaN,"Samothrace Volume 11, Plate XXVIII",L36,NaN,NaN
6,NaN,epikranitis,NaN,NaN,2005 (Saturday),Wedge,Single,0.134,0.147,0.016,...,22.0,marble (Thasian),1.2020,0.861,0.381,0.394305,"Samothrace Volume 11, Plate XIII",use 557?,does not have Lewis hole,NaN
7,NaN,epikranitis,NaN,block broken in half,2005 (Saturday),Wedge,Single,0.140,0.157,0.025,...,17.5,marble (Thasian),NaN,NaN,NaN,0.394305,"Samothrace Volume 11, Plate XIII",use 557?,NaN,NaN
8,NaN,anta,NaN,very worn,2005 (Saturday),Wedge,Single,0.090,0.132,0.023,...,13.0,marble (Thasian),1.0070,0.464,1.524,0.712086,"Samothrace Volume 11, Plate X",use 584?,NaN,NaN
9,584- not Heiron,anta,anta 1,NaN,2005 (Saturday),Wedge,Single,0.135,0.134,0.016,...,17.0,marble (Thasian),1.0070,0.464,1.524,0.712086,"Samothrace Volume 11, Plate X",584.0,NaN,NaN
10,604- not Heiron,anta,anta 2,gamma mason mark,2005 (Saturday),Wedge,Single,0.122,0.134,0.014,...,11.5,marble (Thasian),0.9390,0.458,1.026,0.441244,"Samothrace Volume 11, Plate VIII",604.0,NaN,NaN
11,586- not Heiron,frieze (Doric),NaN,NaN,2005 (Sunday),Wedge,Single,0.155,0.158,0.026,...,17.5,marble (Thasian),1.7610,0.510,0.795,0.713997,"Samothrace Volume 11, Plate XXIX",586.0,NaN,NaN
12,603- not Heiron,cap-epi,lewis A,NaN,2005 (Saturday),Wedge,Single,0.160,0.137,0.016,...,10.5,marble (Thasian),0.9670,1.075,0.370,NaN,"Samothrace Volume 11, Plate XIV",603.0,NaN,NaN
13,603- not Heiron,cap-epi,lewis B,NaN,2005 (Saturday),Wedge,Single,0.100,0.162,0.022,...,23.0,marble (Thasian),NaN,NaN,NaN,NaN,"Samothrace Volume 11, Plate XIV",603.0,NaN,NaN

In [9]:

#for sheet_name in SAMOTHRACE_SHEET_NAMES:
df['Rotunda']['length quartiles'] = pd.qcut(df['Rotunda']['Hole Length at Base'], 4, ['q1', 'q2', 'q3', 'q4'])
df['Rotunda'][['length quartiles', 'Hole Length at Base']]

   length quartiles  Hole Length at Base
0                q3                0.167
1                q3                0.170
2                q3                0.172
3                q3                0.172
4                q4                0.187
5                q4                0.187
6                q4                0.188
7                q4                0.197
8                q4                0.195
9                q4                0.192
10               q3                0.175
11               q1                0.095
12               q1                0.083
13               q1                0.124
14               q1                0.133
15               q1                0.134
16               q1                0.130
17               q2                0.140
18               q2                0.151
19               q3                0.163
20               q2                0.151
21               q2                0.146
22               q2                0.158
23               q2                0.156

In [10]:
df['Rotunda'][['length quartiles', 'Hole Length at Base']].dropna().sort_values(by="length quartiles").plot.box()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.